<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Firebase Phone Auth
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">


  <!-- <div id="recaptcha-container" style="display: none;"></div>
    <div *ngIf="!otpSent">
      <ion-label>
        Enter the Phone number
      </ion-label>
      <ion-input id="phoneNumber">
      </ion-input>
      <ion-button (click)="sendOtp()">
        Sent OTP
      </ion-button>
    </div>

    <div *ngIf="otpSent">
      <ion-label>
        Enter the OTP
      </ion-label>
      <ion-input id="otp">
      </ion-input>
      <ion-button (click)="verifyOtp()">
        verify
      </ion-button>
    </div> -->

  <ion-row *ngIf="!showCodeInput">
    <ion-col col-12>
      <ion-item>
        <ion-label position="floating" color="primary">Enter Phone Number</ion-label>
        <ion-input type="number" [(ngModel)]="mobileNumber"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!showCodeInput">
    <ion-col col-12>
      <ion-button fill="solid" expand="full" (click)="sendOtp()">
        Send OTP
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="showCodeInput" class="indexed">
    <ion-col col-12>
      <ion-item>
        <ion-label floating color="primary">Enter the OTP</ion-label>
        <ion-input type="text" [(ngModel)]="code"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="showCodeInput">
    <ion-col col-12 class="center-aligned">
      <ion-button fill="solid" expand="full" (click)="verify()">
        Verify
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="showCodeInput">
    <ion-col col-12 class="center-aligned">
      <p class="no-margin">Didn't receive OTP?</p>
      <ion-button (click)="onOtpSend()" fill="clear" expand="full">
        Resend
      </ion-button>
    </ion-col>
  </ion-row>


</ion-content>